/*.sidebar{

}

.sidebar li{
    display: block;
    line-height: 30px;
    height: 40px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    width:100%;
    list-style: none;
}

.sidebar li li{
    display: block;
    text-indent: 40px;
    width:100%;
}

.sidebar li label{
    display: inline;
    vertical-align: middle;
    margin: 0px;
}

.sidebar li input[type=checkbox]{
    visibility: hidden;
}

.sidebar input[type=checkbox] ~ ul {
    max-height: 0;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    white-space:nowrap;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.sidebar input[type=checkbox]:checked ~ ul {
    max-height: 100%;
    max-width: 100%;
    opacity: 1;
}*/


/*
.sidebar ul{
   padding: 0px;
   margin: 0px;
}*/

.sidebar_item{
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    margin: 0px;
    width: 100%;
    list-style: none;
}

.sidebar_item div{
    height: 35px;
    margin: 0px;
    padding: 0px;
}

.sidebar_item label{
    background-color: red;
    display: block;
    border: 1px solid #f00;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    float: none;
    position: relative;
    top: 0px;
    left: 0px;
}

.sidebar_item input[type=checkbox]{
    visibility: collapse;
    margin: 0px;
    height: 35px;
}

.sidebar_item ul{
    padding: 0px;
    margin: 0px;
    text-indent: 50px;
}

.sidebar_item li{
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    list-style: none;
    width: 100%;
    height: 35px;
}


.sidebar_item a{
    height: 100%;
    color: #999999;
    cursor: pointer;
    display: block;
}

.sidebar_item a span{
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}


.sidebar_item  a:hover {
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}


.sidebar_item  input[type=checkbox] ~ ul {
    max-height: 0;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    white-space:nowrap;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.sidebar_item input[type=checkbox]:checked ~ ul {
    max-height: 100%;
    max-width: 100%;
    opacity: 1;
}

/*
#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}*/


/*


.sidebar_item label{
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    padding: 10px;
    margin: 0px;
    width: 95%;
    display: inline-block;
}

.sidebar_item li{
    list-style: none;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    padding: 10px;
    text-indent: 30px;
}

.sidebar_item a{
    color: #999999;
    cursor: pointer;
    display: block;
}


.sidebar_item  a:hover {
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}

.sidebar_item > input[type=checkbox]{
    display: inline;
}

.sidebar_item > input[type=checkbox] ~ ul {
    max-height: 0;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    white-space:nowrap;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.sidebar_item > input[type=checkbox]:checked ~ ul {
    max-height: 100%;
    max-width: 100%;
    opacity: 1;
}


*/