<div class="panel panel-primary">

    <div class="panel-heading" ng-click="ToggleViewState()"><span class="hover">{{user.name}}</span></div>
    <div class="panel-body" ng-show="IsVisible">
        <address></address>

        <h4>Friends:</h4>
        <ul>
            <li ng-repeat="friend in user.friends">
               <span remove-friend>
                    {{friend}}
                    <span class="glyphicon glyphicon-remove hover" ng-click="showRemove()" ng-hide="removing"></span>
                    <span ng-show="removing">
                        <button class="btn btn-xs btn-success" ng-click="remove(friend)">Remove</button>
                        <button class="btn btn-xs btn-danger" ng-click="cancelRemove()">Cancel</button>
                    </span>
                </span>
            </li>
        </ul>
        <div ng-show="!!user.rank">
            Rank: {{user.rank}}
        </div>
        <button ng-show="!user.rank" class="btn btn-success" ng-click="KnightMe(user)">Knight Me</button>
    </div>

</div>
